body{
    text-align:center;
    background: rgb(255,179,205);
    background: radial-gradient(circle, rgba(255,179,205,1) 0%, rgba(197,236,255,1) 100%); 
}

h1{
    color:#FFF;
    font-family:'Caveat';
    font-weight:200px;
    font-size:90px;
    
}

#clock {
    color:#FFF;
    font-family:'Zilla Slab';
    font-size: 25px;
}
/*
=================================================
SEARCH
=================================================
*/
form{
    width:100%;
    max-width:600px;
    margin:0 auto;
 }
 input{
    width:100%;
    font-family:'Afacad';
    font-size:32px;
    margin:5px 0;
    border:none;
    padding:10px;
    outline:none;
    display:inline-block;
    border-radius: 30px;
 }
 .search-bar{
    width:80%;
 }
 .submit-button{
    width:15%;
    background:#FFB3CD;
    color:#FFF;
    border-radius:30px;
    font-family:'Afacad';
    margin:5px auto;
 }

/*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks a{
    text-decoration: none;
 }
 .bookmarks{
    padding:30px;
    clear:both;
 }
 .bookmarks i{
    font-size:20px;
    margin:0 10px;
    color:#FFF;
    transition:.15s;
    vertical-align: top;
 }
 .bookmarks i:hover{
    font-size:32px;
    position:relative;
 }
/* style.css */
body, html {
   height: 100%;
   margin: 0;
   overflow: hidden;
   background-color: #121212;
 }
 
 .container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
 
 .sparkle {
   position: absolute;
   width: 30px;   /* Adjust based on your image size */
   height: 30px;  /* Adjust based on your image size */
   background-image: url('Sparkles.png');  /* Add the path to your image */
   background-size: contain;  /* Ensure the image is fully visible */
   background-repeat: no-repeat;  /* Avoid repeating the image */
   pointer-events: none;
   opacity: 1;
   animation: sparkle-animation 300ms ease-out forwards;
 }
 
 @keyframes sparkle-animation {
   0% {
     transform: scale(1) rotate(0deg);
     opacity: 1;
   }
   50% {
     transform: scale(1.5) rotate(180deg);
     opacity: 0.7;
   }
   100% {
     transform: scale(2) rotate(360deg);
     opacity: 0;
   }
 }
 
